//para cada componente

//importa cada layout
//@import '../styles/nombre-de-fichero.scss';
@import 'core/Variables';
@import 'core/Mixins';
@import 'core/Reset';

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 3rem;
  background-color: #f4ec94;
  &__title {
    @include font($fontMonserrat, 2rem, white, bold);
    width: 15rem;
    @media (min-width: 768px) {
      font-size: 3.5rem;
      width: 30rem;
    }
  }
  &__img {
    width: 10rem;
    @media (min-width: 768px) {
      width: 15rem;
    }
  }
}
.main {
  background-color: #f4ec94;
  padding-bottom: 5rem;
  min-height: 100vh;
}
.form {
  background-color: #eedb56;
  display: flex;
  justify-content: center;
  gap: 2rem;
  @include padding(0.5rem, 1.5rem);
  @include font($fontMonserrat, 1.2rem, black, 300);
  @media (min-width: 768px) {
    gap: 5rem;
  }

  &__input {
    @include size(25rem, 3.5rem);
    padding-left: 1rem;
  }
  &__select {
    @include padding(0.8rem, 0.8rem);
    cursor: pointer;
  }
  &__btn {
    @include padding(0rem, 1.6rem);
    color: #ba8914;
    cursor: pointer;
  }
}

.inputError {
  @include font($fontRoboto, 1.5rem, black, 300);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  @include padding(2rem, 2rem);
  &__img {
    width: 30rem;
    @include padding(2rem, 2rem);
    @media (min-width: 768px) {
      width: 50rem;
    }
  }
}

.list {
  text-align: center;
  &__card {
    @include padding(0.7rem, 1rem);
    background-color: #eedb56;
    display: inline-block;
    border-radius: 1.5rem;
    margin-inline: 0.7rem;
    margin-block: 1rem;
    cursor: pointer;
    transition-duration: 0.8s;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 1px 10px 0 grey, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    }

    @media (min-width: 768px) {
      @include padding(1rem, 2rem);
      margin-inline: 1.5rem;
      margin-block: 1.5rem;
    }

    &__img {
      width: 13rem;
      border-radius: 1.5rem;
      @media (min-width: 768px) {
        width: 20rem;
      }
    }

    &__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 12rem;
      @include padding(0.5rem, 0.5rem);
      @include font($fontRoboto, 1.5rem, black, bold);
      @media (min-width: 768px) {
        width: 20rem;
      }
    }

    &__subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 12rem;
      @include font($fontMonserrat, 1.2rem, black, 300);
      @media (min-width: 768px) {
        width: 20rem;
      }
    }
    &__year {
      @include padding(0.5rem, 0.5rem);
      @include font($fontMonserrat, 1.2rem, black, 300);
    }
  }
}

.details {
  text-align: center;
  display: flex;
  justify-content: center;
  &__card {
    justify-content: space-around;
    @include padding(0.5rem, 1rem);
    background-color: #eedb56;
    width: 24rem;
    border-radius: 1.5rem;
    display: inline-block;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      width: 70rem;
    }
    &__img {
      width: 20rem;
      border-radius: 1.5rem;
      @media (min-width: 768px) {
        width: 25rem;
        @include padding(0.5rem, 1rem);
      }
    }
    &__textbox {
      @include padding(2rem, 2rem);
      flex-direction: column;
      @media (min-width: 768px) {
        @include padding(3rem, 2rem);
      }
      &__title {
        @include padding(1rem, 1rem);
        @include font($fontRoboto, 2rem, black, bold);
        @media (min-width: 768px) {
          @include font($fontRoboto, 3.5rem, black, bold);
        }
      }

      &__subtitle {
        @include padding(0.5rem, 0.5rem);
        @include font($fontMonserrat, 1.2rem, black, 300);
        @media (min-width: 768px) {
          @include font($fontMonserrat, 2rem, black, 300);
        }
      }
      &__director {
        @include padding(0.5rem, 2.5rem);
        @include font($fontMonserrat, 1.3rem, black, bold);
      }
      &__audio {
        @include font($fontMonserrat, 1.3rem, black, bold);
      }
      &__icon {
        margin-right: 0.5rem;
        font-size: 2rem;
      }
      &__exit {
        padding-top: 5rem;
        color: #ba8914;
        padding-bottom: 2rem;
      }
    }
  }
}

.footer {
  background-color: #eedb56;
  @include padding(2.5rem, 2.5rem);
  @include font($fontRoboto, 1.7rem, #ba8914, 300);
  display: flex;
  justify-content:space-between;
  align-items: center;
  &__linkedin{
    font-size: 2rem;
    padding-inline: 1.5rem;
    color: #ba8914;
  }
  &__git{
    font-size: 2rem;
    color: #ba8914;
  }
}

.readme{
  padding-right: 1.5rem;
}
